body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 10px;

}
nav{
    padding: 5px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.34);
    font-weight: 700;
    width: 100vw;
    height: 60px;
}
nav img{
    width: 40px;
    height: 40px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0%;

}
a{
    color: black;
    text-decoration: none;
    font-family: 'Poppins';
}